<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info
<style type="text/css">
   /* Custom css */
</style>
-->


<!-- GEE: Add google analytics script using g-tag from config.toml -->
{{- with .Site.GoogleAnalytics -}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
{{- end -}}